body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    text-align: right;
}

.navbar {
    background-color: #004085;
}

.navbar-brand img {
    width: 50px;
}

.navbar-nav .nav-link {
    color: white;
}

.hero-section {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.5rem;
}

footer {
    background-color: #004085;
    color: white;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.main-section {
    padding: 60px 0;
}

.mission-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.mission-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mission-card:hover {
    transform: scale(1.05);
}

.mission-card .card-body {
    padding: 20px;
}

.mission-card .card-title {
    font-size: 1.5rem;
}

.mission-card .card-text {
    font-size: 1rem;
}

.mission-card .btn {
    background-color: #007bff;
    color: white;
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    text-decoration: none; /* Ensure no underline */
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #25d366; /* No background color change on hover */
    color: white; /* No text color change on hover */
    text-decoration: none; /* No underline on hover */
}

