body {
    font-family: 'Arial', sans-serif;
}

.hero-section {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.5rem;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    text-decoration: none; /* Ensure no underline */
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #25d366; /* No background color change on hover */
    color: white; /* No text color change on hover */
    text-decoration: none; /* No underline on hover */
}
